{% extends 'base.html.twig' %}

{% block title %}Mes commandes {% endblock %}




{% block content %}
    

<h1>Mes commandes</h1>
<p>C'est dans cet espace que vous pouvez gérer vos commandes</p>
{#
   --- Affichage de l'utilisateur connecter ---
#}
<a href="{{ path("account") }}">Retournez sur mon compte</a>


{% if app.user.orders | length == 0  %}
<hr>
    <p class="text-center">Vous n'avez pas de commande en cours </p>
{% else %}

{# Affichage de mais addresse #}
   <table class="table mt-3 table-hover">
  <thead>
    <tr>
      <th scope="col">Réferences</th>
      <th scope="col">Statut</th>
      <th scope="col">Passée le</th>
      <th scope="col">Produit(s)</th>
      <th scope="col">Total</th>
    </tr>
  </thead>

 


  <tbody>
  {% for order in orders %}
    <tr>
      
      <td><span class ="badge bg-dark bg-gradient">{{ order.reference }}</span></td>
      <td>
      
       {% if order.state == 1 %}
            <span class ="badge bg-success bg-gradient">Paiement accepté <i class="far fa-check-circle"></i></span>
       {% elseif order.state == 2 %} 
         <span class ="badge bg-warning bg-gradient">Preparation en cours ... <i class="fas fa-box-open"></i></span>
       {% elseif order.state == 3 %} 
         <span class ="badge bg-info bg-gradient">Livraison en cours  ... <i class="far fa-clock"></i></span>
          {% elseif order.state == 4 %} 
         <span class ="badge bg-success">Livraison effectué <i class="far fa-check-square"></i>  </span>
       {% endif %}
       </td>
      <td>{{ order.createdAt | date("d/m/Y") }}</td>
      <td>{{ order.orderDetails | length }}</td>
      <td>{{ ((order.carrierPrice + order.getTotal) / 100 )| number_format(2,',','.')  }}  €</td>
      <td class="text-right"> <a href="{{ path( 'account_order_show',{'reference': order.reference} ) }}"> Voir ma commande </a></td>
    </tr>
{% endfor %}
  
  </tbody>
</table>

    
{% endif %}
<hr> 
{% endblock %}

