{% extends 'base.html.twig' %}


{% block title %}Nos produits {% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-3 bg-white p-5">
        <h3>Filtrer</h3>
        {{form_start(form)}}
        <div class="d-flex">
        {{ form_row(form.string) }} <a class="bouton-search"> {{ form_row(form.submit) }}</a>
       </div>
      <h4 class="mt-4 fs-5">Rechercher par catégories</h4>
       {{ form_row(form.categories) }}     
      {{form_end(form)}}
  </div>

  <div class="col-md-9 p-5">
       <div class="section-heading center-holder">
            <h3 class="text-uppercase">Nos produits</h3>
            <div class="section-heading-line"></div>
            <p>Découvrez un large choix de nos produits ! 
                <br><strong>E-commerce</strong> propose une multitude de produits à prix cassé ! </p>
        </div>
    {# Boucle for permet de boucler sur nos produits qui sont dans la base de données  #}
    <div class="row product-container">
    {% for product in products %}       
       <div class="col-md-4">       
          {% include "product/single_product.html.twig" %}
       </div>                      
    {% endfor %}
    </div>{# EO ROW #}
  </div>
</div>


            





                       
                  
{% endblock %}






